<a href="https://colab.research.google.com/github/mozgsvina/hse_python_intro/blob/main/notes_for_lesson_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Разбор д/з №3

In [1]:
"""
удалить знак препинания, разбить в список, упорядочить, объединить в строку
"""

sentence = "the owls are not what they seem!"
sent_copy = sentence.rstrip("!")  # полезный метод strip()
sent_list = sent_copy.split()
sent_list.sort()
# sent_list = sorted(sent_list)
sent_joined = " ".join(sent_list)
print(sent_joined)
print(type(sent_joined))
print(sentence)

are not owls seem the they what
<class 'str'>
the owls are not what they seem!

In [2]:
"""Создайте словарь (тип dict), ключами которого будут строки, а значениями числа с
дробной частью, содержащий не менее трех пар ключ-значение."""

price_list = {"americano": 1.5,
              "cappuccino": 2.5,
              "hario": 2.3}

print(type(price_list))

price_list["aeropress"] = 2.3
price_list["cappuccino"] += 1  # не входило в дз

print(price_list)

for key in price_list:
    key_type = type(key)
    val_type = type(price_list[key])
    print(f"{key_type} : {val_type}")

for key, val in price_list.items():
    print(f"{type(key)} : {type(val)}")


key_types = [type(key) for key in price_list]
val_types = [type(val) for val in price_list.values()]
print(key_types)
print(val_types)

<class 'dict'>
{'americano': 1.5, 'cappuccino': 3.5, 'hario': 2.3, 'aeropress': 2.3}
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
<class 'str'> : <class 'float'>
[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
[<class 'float'>, <class 'float'>, <class 'float'>, <class 'float'>]

In [5]:
"""
создаем кортеж и распаковываем элементы в переменные
"""

book_info = ("Преступление и наказание", 1866, 4.8)
# распаковка:
title, year, rate = book_info
print(f'Роман "{title}" был впервые опубликован в {year} и имеет среднюю оценку {rate} у наших читателей.')

Роман "Преступление и наказание" был впервые опубликован в 1866 и имеет среднюю оценку 4.8 у наших читателей.

In [4]:
# потенциальная ошибка
a = (4, 5)
a = a * 3
print(a)

(4, 5, 4, 5, 4, 5)

Функции

In [3]:
def say_hi():
    print("Hello!")
    print("Hi!")


say_hi()

Hello!
Hi!

In [6]:
def say_hello(name):
    print(f"Hello, {name}!")


say_hello("Anya")
my_name = "Sasha"
say_hello(my_name)

Hello, Anya!
Hello, Sasha!

In [7]:
def congrats(name, age):
    print(f"Happy Birthday, {name}! You're {age} now!")


congrats(my_name, 25)

Happy Birthday, Sasha! You're 25 now!

In [8]:
# функция которая что-то возвращает
def get_age(year):
    """ считает возраст по году рождения """
    age = 2021 - year
    return age


my_age = get_age(1969)
print(my_age)

52

In [9]:
def print_len(line):
    line_len = len(line)
    print(line_len)


print_len("my name is")
print_len("my name")

10
7

In [10]:
def get_len(line):
    line_len = len(line)
    return line_len

In [11]:
curr_length = get_len("my name")
# теперь можно что-то сделать со значением
len_list = []
len_list.append(curr_length)
print(len_list)

[7]

In [12]:
def get_len_wo_spaces(text):
    text = text.replace(' ', '')
    length = len(text)
    return length


print(get_len_wo_spaces("qwe   qwe"))
curr_length = get_len_wo_spaces("функция, 2 параментр: буква и цифра. Вернуть строку, состоящую из кол-ва букв,"
                                " равного переданной цифре")
print(curr_length)
print(get_len("функция, 2 параментр: буква и цифра. Вернуть строку, состоящую из кол-ва букв,"
              " равного переданной цифре"))

6
89
103

In [14]:
def multiply_letter(letter, num):
    return letter * num


res = multiply_letter("b", 10)
print(res)

bbbbbbbbbb

In [16]:
# или так
def multiply_letter(letter, num):
    res_line = ""
    for i in range(num):
        res_line += letter
    return res_line


print(multiply_letter("s", 3))

sss

In [18]:
# значения аргументов по умолчанию
def say_hello(name="stranger"):
    print(f"Hello, {name}!")


say_hello()
say_hello("Artur")

Hello, stranger!
Hello, Artur!

In [19]:
def multiply_letter(letter, num):
    return letter * num


multiply_letter(letter="а", num=3)
multiply_letter("а", 3)

'ааа'

In [21]:
name = "Anya"
surname = "Moskvina"

print(name, surname, sep="_", end=" the end. \n")
print(name, surname, sep=" ", end="\n")  # аналогично print(name, surname), используются дефолтные значения sep и end
print("Привет!")

Anya_Moskvina the end.
Anya Moskvina
Привет!

In [22]:
def divide(a=10, b=2):
    print(round(a / b, 2))


# позиционные аргументы
divide(5, 3)
divide(3, 5)
divide()
divide(5) # аргументы подставляются слева направо

1.67
0.6
5.0
2.5

In [23]:
# ключевые аргументы
divide(b=3)
divide(b=4, a=1)

for i in range(1, 50):
    print(i ** 2, end=' ')

3.33
0.25
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401

In [24]:
# функции с произвольным количеством аргументов
m = max(1, 2, 3, 45, 6, 5)
print(m)


def get_sum(*args):
    total = 0
    for val in args:
        total += val
    return total


my_sum = get_sum(1, 2, 3, 4)
print(my_sum)

45
10